<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chores</title>
</head>
<body>
  <h1>Chores List</h1>
  <ul>
    <% chores.forEach(chore => { %>
      <li>
        <a href="/chores/<%= chore._id %>"><%= chore.chore %></a>
        -
        <%= chore.done ? 'Yes' : 'No' %>
      </li>
    <% }) %> 
  </ul>
  <a href="/chores/new">Add New Skill</a>
</body>
</html>